<!doctype html>
<html lang="en" ng-app="robotgame">
<head>
	<meta charset="utf-8">
	<title>Robotgame</title>
	<link type="text/css" rel="stylesheet" media="all" href="style.css" />
	<script src="config.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/pixi.js"></script>
	<script src="lib/socket.io.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/model.js"></script>
	<script src="js/graphics.js"></script>
</head>

<body ng-controller="RobotGameCtrl">
	<h1>Robotgame</h1>

	<div id="game" append-element="game">
		<div id="message">{{message}}</div>
	</div>

	<div id="commandtable" ng-show="connected">
		<table>
			<tr ng-repeat="(command, selectedCommand) in commands track by $index">
				<td ng-repeat="option in commandOptions">
					<button ng-click="selectCommand(command, option[0])"
					        ng-class="{'selected': selectedCommand == option[0]}">
						{{option[1]}}
					</button>
				</td>
			</tr>
		</table>

		<button ng-click="toggleReady()"
				ng-class="{'selected': ready}"
				class="ready">
			Ready!
		</button>
	</div>
</body>
</html>
