body {
	text-align: center;
	color: #cccccc;
	background-color: #000000;
}

#game {
	position: relative;
	width: 800px;
	height: 600px;
	margin: auto;
	background-color: #cccccc;
}

#message {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	margin: auto;
	color: #000000;
	font-size: 26px;
	font-family: sans;
}
